<div class="content col-md-8 col-md-offset-2">
  <h1 class="text-center">Link Shortener</h1>
  <div class="input-group">
    <input type="text" class="form-control" id="complete-url" placeholder="Your url here!">
    <div class="input-group-btn">
      <button class="btn btn-info">short!</button>
    </div>
  </div>
  <p class="text-center explanation">Place your url on input above and click on <button class="btn btn-info">short!</button></p>

  <div class="alert alert-info link-shorted">
    <strong>Get your link! -> </strong> <span>http://x-pto.co/short_url</span>
  </div>
</div>
