@import url('https://fonts.googleapis.com/css?family=Ewert');

body {
  margin: 0 auto;
}

h1 {
  font-family: 'Ewert', cursive;
  font-size: xxx-large;
}

.content {
  margin-top: 20%;
}

.explanation {
  padding-top: 5%;
}

.link-shorted {
  margin-top: 5%;
}
