@import url('https://fonts.googleapis.com/css?family=Ewert');

body {
  margin: 0 auto;
}

h1 {
  font-family: 'Ewert', cursive;
  font-size: 10vmin;
}

.input-group {
  box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
}

.content {
  margin-top: 10%;
}

.explanation {
  padding-top: 5%;
}

.missed-link,
.link-shorted {
  margin-top: 5%;
  visibility: hidden;
}

.link-shorted ul {
  list-style-type:none;
}
